.inputoptions{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    
}

.inputoptions:hover {
    background-color: #EBEBEB;
    border-radius: 999px;
}

.post__buttons{
    display: flex;
    justify-content: space-evenly;
}